/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset css */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.distance-helper {
    font-weight: 700;
}

.content {
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 3%;
    height: 80%;
    padding: 20pt;
}

.content h1 {
    color: #333;
    font-size: 200%;
    font-weight: 700;
    padding: 10pt;
}

.content .show {
    position: absolute;
    bottom: -30px;
    text-decoration: none;
    background-color: #fff;
    font-size: 150%;
    color: #888;
    padding: 10px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.content.hidden .show {
    opacity: 1;
}

p {
    margin-bottom: 20pt;
}

code {
    font-family: monospace;
}

.column {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding: 10pt;
}

.right.column {
    margin-top: -60px;
    padding-left: 200px;
}

.content {
    position: relative;
    z-index: 10;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

ul >  li {
    display: inline-block;
    margin-right: 10px;
}

.hidden {
    transform: translateY(-98%);
    -webkit-transform: translateY(-98%);
    -moz-transform: translateY(-98%);
    -o-transform: translateY(-98%);
}
